div.square {
    width:150px;
    height:200px;
    background-color: #00f;
    color: #00f;
    border: 25px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-color: #f00 #0f0 orchid #fc0; /* cores: topo, direita, inferior, esquerda */
    }